aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
antlr4-python3-runtime
anyio
argcomplete
asteroid-filterbanks
attrs
audioread
av
azure-cognitiveservices-speech
azure-core
azure-storage-blob
bidict
blinker
build
certifi
cffi
chardet
charset-normalizer
click
colorama
coloredlogs
colorlog
contourpy
coverage
cryptography
ctranslate2
cycler
decorator
defusedxml
Deprecated
distro
dnspython
docopt
einops
eventlet
faster-whisper
ffmpeg
ffmpeg-python
filelock
Flask
Flask-Cors
Flask-Limiter
Flask-SocketIO
flatbuffers
fonttools
fpdf2
frozenlist
fsspec
future
greenlet
gunicorn
h11
httpcore
httpx
huggingface-hub
humanfriendly
HyperPyYAML
idna
iniconfig
isodate
itsdangerous
Jinja2
jiter
joblib
julius
kiwisolver
lazy_loader
librosa
lightning
lightning-utilities
limits
llvmlite
lxml
Mako
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mpmath
msal
msgpack
multidict
networkx
numba
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
omegaconf
onnxruntime
openai
optuna
ordered-set
packaging
pandas
pillow
pip-tools
pipx
platformdirs
pluggy
pooch
primePy
propcache
protobuf
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pycparser
pydantic
pydantic_core
pydub
Pygments
PyJWT
PyMuPDF
pyparsing
pyproject_hooks
pyreadline3
pytest
pytest-cov
python-dateutil
python-docx
python-dotenv
python-engineio
python-socketio
pytorch-lightning
pytorch-metric-learning
pytz
PyYAML
regex
reportlab
requests
rich
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
semver
sentencepiece
setuptools
shellingham
simple-websocket
six
sniffio
sortedcontainers
soundfile
soxr
speechbrain
SQLAlchemy
sympy
tabulate
tenacity
tensorboardX
threadpoolctl
tiktoken
tokenizers
torch
torch-audiomentations
torch_pitch_shift
torchaudio
torchmetrics
torchvision
tqdm
typer
typing_extensions
tzdata
urllib3
userpath
Werkzeug
wheel
whisper
wrapt
wsproto
yarl